<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

@@if(context.style) {
  @@for(var i=0; i < style.length; i++) {
  <link rel="stylesheet" href="`+style[i]+`">
  }
}

<title>Login/Register</title>

</head>
<body>
  <header>
    <div class="container py-2">
      <div class="row py-4">
        <div class="col-sm-12 col-md-2 mb-2">
          <div class="logo">
            <a href="/"><img src="assets/image/logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          
        </div>
      </div>
    </div>
  </header>